@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-lg-6 mx-auto p-3">
        <h2 class="text-center mb-3">Registration</h2>
        
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Surname</label>
                <div>
                    <input class="form-control" asp-for="Input.Surname" />
                    <span asp-validation-for="Input.Surname" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Name</label>
                <div>
                    <input class="form-control" asp-for="Input.Name" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Phone</label>
                <div>
                    <input class="form-control" asp-for="Input.Phone" />
                    <span asp-validation-for="Input.Phone" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email</label>
                <div>
                    <input class="form-control" asp-for="Input.Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Password</label>
                <div>
                    <input class="form-control" asp-for="Input.Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Confirm Password</label>
                <div>
                    <input class="form-control" asp-for="Input.ConfirmPassword" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary" style="background-color: #1272d6; color: white;">Register</button>
                </div>
                @* <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" href="/" role="button">Back to Home page</a>
                </div> *@
            </div>
        </form>
    </div>
    @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> *@
</div>

@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
 *@