@page
@model WebApplicationSocialMedia.Pages.FriendsModel
@{
}

<h1 class="text-center">All your friends are here!</h1>

<table class="table">
	<tbody>
		@{
			for (int i =0; i < Model.friends?.Count; i++){
				<tr>
					<td>
						@(i+1)
					</td>
					<td>
						@{
							if (Model.friends[i].image != null){
								<img src="data:image;base64,@Model.friends[i].image" width="75px" height="75px" />
							}
							else {
								<img src="~/images/default_avatar.png" width="75px" height="75px" />
							}
						}
					</td>
					<td>
						@Model.friends[i].surname
					</td>
					<td>
						@Model.friends[i].name
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<h3>Total friends: @Model.friends?.Count()</h3>

<style>
	.table {
		width: 50%;
	}
	h3 {
		color: #000000;		
		margin-bottom: 100px;
	}
</style>


@* <div>
	Surname: @Model.user?.surname
</div>
<div>
	Created at: @Model.user?.created.ToString("dd.mm.yyyy")
</div> *@